<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBN6Qn6wWZxt4pv1JxRGMI5I2AaBbAAy5g</string>
	<key>GCM_SENDER_ID</key>
	<string>93819412115</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yearling.famsink</string>
	<key>PROJECT_ID</key>
	<string>famsink-fd857</string>
	<key>STORAGE_BUCKET</key>
	<string>famsink-fd857.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:93819412115:ios:6667447c955f318fdff766</string>
</dict>
</plist>